#form {
    padding: 0px 30px 0px 30px;
    font-family: $main-font;
    @include flexset (center, center, 0px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 120vh;
        height: 50vh;
        padding: 80px 30px 80px 30px;
        background-color: $rgb-color-white;

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            h1 {
                font-size: 28px;
                font-weight: bold;
                line-height: 24px;
            }

            p {
                font-size: 16px;
                line-height: 28px;
                color: $txt-color-dark-2-gray;
            }
        }

        h3 {
            font-size: 16px;
            line-height: 28px;
            color: $txt-color-dark-2-gray;
        }
    }

    .inp-btn {
        width: 600px;
        display: flex;

        input {
            border-radius: 4px;
            border: 2px solid #e3e3e3;
            height: 45px;
            padding: 0 15px;
            color: $txt-color-grey;
            font-size: 14px;
            line-height: 24px;
            background-color: transparent;
            width: 100%;

        }

        button {
            background-color: $bg-color-light-black;
            color: $txt-color-white;
            text-transform: none;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0;
            border-radius: 4px;
            margin-left: 10px;
            width: auto;
            height: 45px;
            padding: 0 35px;
            transition: .2s ease-in-out;
            border: none;

            &:hover {
                background-color: $bg-color-green;
                border: none;
            }
        }
    }
}