#about-banner {
    font-family: $main-font;
    height: 350px;

    .banner {
        position: relative;
        height: 55vh;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;

        ul {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 6px;
            top: 100px;
            left: 80px;

            li {
                font-size: 16px;
                line-height: 24px;
                color: $txt-color-black;
               
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .current {
                font-size: 16px;
                line-height: 24px;
                color: $txt-color-green;
            }
        }
    }
}