#product-detail {
    font-family: $main-font;
    padding: 0px 30px 0px 30px;



    h3 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: $txt-color-light-black;
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
        color: $txt-color-light-black;

    }

    .blog-card {
        margin: 30px 0;

        .blog-img {
            overflow: hidden;


            &:hover {
                img {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

            img {
                transition: .3s ease-in-out;

                @extend %default-img;
            }
        }

        .blog-body {
            .category {
                text-align: left;
                margin: 15px 0;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 24px;
                padding: 0px 11px 0px 11px;
                border-radius: 3px;
                background-color: $bg-color-green;
                border: none;
                color: $txt-color-white;
            }

            ul {
                display: flex;

                .first {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 24px;
                    color: $txt-color-dark-2-gray;
                }

                li {
                    color: $txt-color-dark-3-gray;
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            h2 {
                margin: 15px 0;
                font-size: 20px;
                font-weight: bold;
                line-height: 28px;
                color: $txt-color-light-black;
                transition: .2s ease-in-out;

                &:hover {
                    color: $txt-color-green;
                    cursor: pointer;
                }
            }

            p {
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 28px;
                color: $txt-color-dark-2-gray;
            }

            button {
                font-size: 14px;
                font-weight: bold;
                line-height: 28px;
                background-color: $bg-color-ice;
                border-style: solid;
                border-width: 2px 2px 2px 2px;
                border-color: $txt-color-white2;
                border-radius: 4px 4px 4px 4px;
                padding: 9px 28px 9px 28px;
                transition: .3s ease-in-out;

                &:hover {
                    background-color: $bg-color-green;
                    color: $txt-color-white;
                }
            }
        }
    }

    .category {
        display: flex;
        flex-direction: column;
        gap: 30px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
                color: $txt-color-grey2;
                transition: .2s ease-in-out;

                &:hover {
                    color: $txt-color-green;
                    cursor: pointer;
                }

                i {
                    font-size: 20px;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: $txt-color-green;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .search {
        display: flex;
        flex-direction: column;
        gap: 70px;

        .position {
            position: relative;

            input {
                background-color: $bg-color-white;
                border-radius: 0;
                margin: auto;
                padding-right: 45px;
                font-size: 14px;
                text-transform: none;
                box-shadow: 0 0 3px $txt-color-white3;
                border: 1px solid $txt-color-white3;
                height: 46px;
                width: 100%;
                padding-left: 25px;
                position: absolute;

            }

            i {
                font-size: 18px;
                color: $txt-color-grey2;
                position: absolute;
                top: 15px;
                right: 20px;

            }
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                font-size: 14px;
                line-height: 24px;
                color: #606060;
                transition: .2s ease-in-out;

                &:hover {
                    color: $txt-color-green;
                    cursor: pointer;
                }

            }
        }
    }

    .blog-ctgry {
        display: flex;
        flex-direction: column;
        gap: 30px;

        ul {
            li {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
                color: $txt-color-grey2;
                transition: .2s ease-in-out;

                &:hover {
                    color: $txt-color-green;
                    cursor: pointer;
                }

                i {
                    font-size: 20px;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: $txt-color-green;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .side-shop {
        padding: 7px 0;

        h5 {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.65rem;
            margin-bottom: 20px;
        }

        .product-side {
            display: flex;
            gap: 8px;


            .side-img {
                display: flex;
                width: 90px;
                height: 90px;

                img {
                    @extend %default-img;
                }


            }

            .side-body {
                width: 280px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 {
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 20px;
                    color: $txt-color-light-black;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: $txt-color-green;
                        cursor: pointer;
                    }
                }

                p {
                    font-size: 12px;
                    color: $txt-color-grey2;
                }
            }
        }
    }

    .tags {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h4 {
            font-size: 18px;
            font-weight: 700;
            color: $txt-color-light-black;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            li {
                font-size: 13px;
                line-height: 22px;
                padding: 3px 10px;
                border: 1px solid $txt-color-white3;
                transition: .2s ease-in-out;

                &:hover {
                    background-color: $bg-color-green;
                    color: $txt-color-white;
                    cursor: pointer;
                }
            }
        }
    }

    .shop-box {
        margin-bottom: 20px;

        .shop-img {
            position: relative;

            img {
                @extend %default-img;
            }

            .shop-body {
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: absolute;
                top: 30px;
                left: 30px;

                h2 {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 28px;
                    color: $txt-color-light-black;
                }

                p {
                    font-size: 16px;
                    line-height: 28px;
                    color: $txt-color-dark-2-gray;
                }

                h4 {
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: underline;
                    line-height: 24px;
                    color: $txt-color-green;

                    &:hover {
                        color: $txt-color-black;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .btns {
        ul {
            @include flexset (center, space-between, 0px);

            li {
                display: flex;
                gap: 8px;

                button {
                    background-color: transparent;
                    width: 40px;
                    height: 40px;
                    border: 2px solid $txt-color-white3;
                    font-size: 14px;
                    color: $txt-color-black;
                    transition: .2s ease-in-out;

                    &:hover {
                        border: 2px solid $txt-color-black;
                    }
                }
            }
        }
    }
}