$main-font :"Red Hat Display",sans-serif;
$full-rounded: 50%;
// !------------------------------------Text-color------------

$txt-color-light-black : #1a1a1a;
$txt-color-white :#fff;
$txt-color-white2: #e5e5e5;
$txt-color-white3: #e1e1e1;
$txt-color-green: #ba933e;
$txt-color-dark-green :#3c763d;
$txt-color-gray : #999999;
$txt-color-dark-gray :#99999960;
$txt-color-dark-2-gray :#444444;
$txt-color-dark-3-gray :#666666;
$txt-color-pink : #9d9d9d;
$txt-color-grey :#444;
$txt-color-grey2: #666;
$txt-color-black : #000;
$txt-color-blue: blue;
$txt-color-red: red;

// !-----------------------------Background-color---------------

$bg-color-light-black : #1a1a1a;
$bg-color-green: #ba933e;
$bg-color-grey: #999;
$bg-color-light-purple: #434A54;
$bg-color-ice: #ffffff;
$bg-color-black: #000;
$bg-color-white :#fff;

//! -------------------------------RGB-color----------

$rgb-color-purple: rgb(4, 4, 121);
$rgb-color-white: rgb(246, 246, 246);
$rgb-color-green: rgb(140, 205, 41);
$rgb-color-black : rgba(0, 0, 0, 0.182);
$rgb-color-white : rgba(255, 255, 255, 0.9);
$rgb-color-grey: rgba(128, 128, 128, 0.365);
$rgb-color-grey2: rgba(128, 128, 128, 0.24);








