footer {
    padding: 80px 30px 30px 30px;
    background-color: $bg-color-light-black;
    font-family: $main-font;

    .left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .media {
            h2 {
                color: $txt-color-white;
                font-size: 35px;
                letter-spacing: 10px;
                font-weight: 700;
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            i {
                color: $txt-color-white;
                font-size: 25px;
                transition: .2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $txt-color-green;
                }
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;

        h3 {
            color: $txt-color-white;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }

        ul {
            display: flex;
            flex-direction: column;

            gap: 7px;

            li {
                color: $txt-color-gray;
                font-size: 14px;
                line-height: 24px;
                transition: .2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $txt-color-green;
                }

                i {
                    font-size: 25px;
                }
            }
        }
    }

    .payments {
        border-top: 1px solid $txt-color-dark-gray;
        padding-top: 20px;

        ul {
          @include flexset (center,space-between,0px);

            li {
                font-size: 14px;
                line-height: 24px;
                color: $txt-color-gray;

                span {
                    color: $txt-color-white;
                    font-weight: 700;
                }
            }
        }
    }
}