header {
    padding: 20px 30px 20px 30px;
    font-family: $main-font;

    nav {
        @include flexset (center,space-between,0px);
       

        .menu {
            ul {
                display: flex;
                gap: 20px;

                li {
                    font-size: 16px;
                    text-transform: none;
                    color: $txt-color-light-black;
                    font-weight: 500;
                    line-height: 34px;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: $rgb-color-green;
                        cursor: pointer;
                    }

                    i {
                        font-size: 15px;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }

                .dropdown {
                    position: relative;

                }
            }

            .tabmenu {
                padding: 30px 20px;
                background-color: $bg-color-ice;
                width: 100%;
                display: flex;
                position: absolute;
                top: 74px;
                right: 0px;
                opacity: 0;
                z-index: 1;
                gap: 50px;

                .first {
                    font-weight: bold;
                    font-size: 16px;
                }

                li {
                    font-size: 14px;
                }

                .start {
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .mid {
                    ul {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .product-box {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .box {
                        display: flex;
                        gap: 10px;

                        .box-img {
                            width: 100px;
                            height: 100px;

                            img {
                               @extend %default-img;
                            }
                        }

                        .box-body {
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }


                }

            }
        }

        .register {
            display: flex;
            align-items: center;
            gap: 20px;



            .left {
                ul {
                    display: flex;
                    align-items: center;

                    li {
                        font-size: 16px;
                        text-transform: none;
                        color: $txt-color-light-black;
                        font-weight: 500;
                        line-height: 34px;
                        transition: .2s ease-in-out;

                        &:hover {
                            color: $rgb-color-green;
                            cursor: pointer;

                            i {
                                color: $rgb-color-green;
                                cursor: pointer;
                            }
                        }

                        i {
                            font-size: 18px;
                            color: $txt-color-light-black;
                        }
                    }
                }
            }

            .icons {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    li {
                        i {
                            font-size: 18px;
                            color: $txt-color-light-black;
                            transition: .2s ease-in-out;

                            &:hover {
                                color: $rgb-color-green;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }


    }


}