header {
    padding: 20px 30px 20px 30px;
    font-family: $main-font;

    nav {
        @include flexset (center, space-between, 0px);
        position: relative;

        .menu {


            ul {
                display: flex;
                gap: 20px;

                li {
                    font-size: 16px;
                    text-transform: none;
                    color: $txt-color-light-black;
                    font-weight: 500;
                    line-height: 34px;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: $rgb-color-green;
                        cursor: pointer;
                    }

                    i {
                        font-size: 15px;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }

                .dropdown {
                    position: relative;
                    &:hover {
                        .page-menu {
                            display: block;
                        }
                    }

                }

            }

            .page-menu {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                position: absolute;
                width: 271px;
                padding: 23px 28px;
                height: 273px;
                top: 30px;
                left: 0px;
                background-color: white;
                display: none;

                ul {
                    display: flex;
                    flex-direction: column;
                    z-index: 9999;
                    gap: 2px;

                }
            }


        }


        .register {
            display: flex;
            align-items: center;
            gap: 20px;



            .left {
                ul {
                    display: flex;
                    align-items: center;

                    li {
                        font-size: 16px;
                        text-transform: none;
                        color: $txt-color-light-black;
                        font-weight: 500;
                        line-height: 34px;
                        transition: .2s ease-in-out;

                        &:hover {
                            color: $rgb-color-green;
                            cursor: pointer;

                            i {
                                color: $rgb-color-green;
                                cursor: pointer;
                            }
                        }

                        i {
                            font-size: 21px;

                            color: $txt-color-light-black;
                        }
                    }
                }
            }

            .icons {
                position: relative;

                ul {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    li {
                        i {
                            font-size: 22px;
                            color: $txt-color-light-black;
                            transition: .2s ease-in-out;

                            &:hover {
                                color: $rgb-color-green;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .pos-num {
                    position: absolute;
                    top: -5px;
                    left: 22px;
                }

                .pos-num2 {
                    position: absolute;
                    top: -5px;
                    left: 64px;
                }
            }
        }


    }



}